* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
}

@media screen and (max-width:767px) and (max-width:1023px) {
    #maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}

@media screen and (min-width:1024px) {
    #maincontent{
		width: auto;
		float: none;
	}
	#sidebar{
		width: auto;
		float: none;
	}
}

    body {
    height: 100vh;
    background: linear-gradient(to right, #c04646, #2d1212);
    padding: 50px 5%;
}

.container {
    position: relative;
    height: 13%;
    backdrop-filter: brightness(0.8);
    border-radius: 20px;  
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 28px;
    color: #fff;
    text-shadow: 
     0 0 10px rgba(0, 255, 255, 0.5),
     0 0 20px rgba(0, 255, 255, 0.5),
     0 0 30px rgba(0, 255, 255, 0.5),
     0 0 40px rgba(0, 255, 255, 0.8);

    text-decoration: none;
    font-weight: 600;
}

.navbar-nav a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    margin-left: 35px;
    font-weight: 500;
    border-bottom: 2px solid #ffffff00;
    transition: all;
    transition-duration: 300ms;
}

.navbar-nav a:hover,
.navbar-nav a:active {
    border-bottom: 2px solid #fff;
}

.lessons {
    word-spacing: 5px;
    padding-top: 10px;
    backdrop-filter: blur(10px);
    width: fit-content;
    font-size: 18px;
    color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    margin: 5px;
    
}

.btn {
    display: inline-block;
    padding: 10px 30px;
    box-shadow: 0 0 10px #fff;
    border-radius: 50px;
    color: #f9f9f9;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    margin-left: 25px;
}

.btn:hover {
    box-shadow: 0 0 20px #fff;
    background-color: #f9f9f9;
    color: #000;
}

footer {
    color: #fff;
    text-align: center;
    margin-top: 360px;
    border-radius: 10px;
    font-style: italic;
}

.active {
font-style: italic;
text-shadow: 
 0 0 10px rgba(0, 255, 255, 0.5),
 0 0 20px rgba(0, 255, 255, 0.5),
 0 0 30px rgba(0, 255, 255, 0.5),
 0 0 40px rgba(0, 255, 255, 0.8);
}
